# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Electron / Build
dist/
release/
build/

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.local

# IDES
.vscode/
.idea/
*.swp
